body{
  background-color: white;
  background-image: url(https://blog.equinix.com/wp-content/uploads/2017/10/blockchain.jpg);
}

.dropdown:hover .dropdown-menu {
display: block;
}

.spacer{
  display: block;
  height:60px;
}

iframe{
  margin: auto;
  display: block;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: black;
  color: gray;
  padding: 10px;
  text-align: center;

}

footer span{
  line-height: 10px;
  display: inline-block;
}
