body{
  background-color: white;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.spacer{
  display: block;
  height:60px;
}

iframe{
  margin: auto;
  display: block;
}

.mup-getwdgt{
  display: none;
  background: red;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: black;
  color: gray;
  padding: 10px;

}

footer span{
  line-height: 10px;
  display: inline-block;
}
